*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: white;
    height: 70px;
    position: fixed;
    width: 100%;    
    top: 0;    
}

.mainBody{
    background-image: url(./assets/live-cricket-api.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    
}

.menu{
    list-style: none;
    display: inline-flex;
    float: right;
}
.menu li a {
    text-decoration: none;
    color: grey;
    font-family: arial;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
    bottom: 20px;
    font-size: 13px;
}

.mainBody img{
    
    height: 300px;
    width: 300px;
}

.button{
    text-decoration: none;
    color: white;
    font-family: arial;
    padding: 27px 30px;
    font-size: 20px;
    background-color: rgb(26, 104, 192);
    position: relative;
    top: 140px;
    left: 180px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.cric{
    position: absolute;
    top: 110px;
    height: 400px;
    width: 400px;
    left: 800px;
}

.lsHeader{
    height: 70px;
    background-color: green;
    width: 100%;
    position: fixed ;
    top: 0%;
    text-align: center;
    line-height: 10vh;
}
.lsHeader h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.scoreBody{
    background-image: url(./assets/LiveScore.jpg);
    height: 96vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.abc{
    margin-top: 100px;
}