*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
}
.header h2{
    margin-top: 18px;
    margin-left: 20px;
}
.mainBody{
    background-image: url(./assets/cricket.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}